<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheets/request-style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>Website Performance Testing</title>
    </head>
    <body>
        <div class="main">
            <h1>Website Performance Test</h1>
            <form action="/test" method="post">
<%_             if(error_msg != null) { _%> 
                    <div class="errors"><%- error_msg _%></div>
<%_             } _%> 
                <input type="hidden" name="_csrf" value="<%= csrf_token _%>">
                <label for="url">Enter URL to analyze performance:</label>
                <input type="text" name="url" id="url">
                <label for="quantity">Number of request to send: (Optional)</label>
                <input type="text" name="quantity" id="quantity">
                <label for="quantity">Concurrency: (Optional)</label>
                <input type="text" name="concurrency" id="concurrency">
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </body>
</html>