        <nav>
            DOJO
            <ul>
                <li><a href ="/dashboard">Dashboard</a></li>
                <li><a href ="/users/edit">Profile</a></li>
            </ul>
            <a href ="/logout" class ="logout">Log off</a>
        </nav>