* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
}
h3 {
    margin-top: 8%;
    text-align: center;
}
form {
    width: 800px;
    height: 600px;
    border: 3px solid #2a2b2a;
    border-radius: 10px;
    box-shadow: -20px 20px #e5446d;
    margin: 10px auto;
    padding: 50px;
    background-color: #f8f4e3;
    color: #2a2b2a;
}
    form > div#subject_details {
        display: flex;
        justify-content: space-between;
    }
        form > div#subject_details > input[type="text"] {
            display: inline-block;
            width: 40%;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 18px;
        }
    form > img {
        position: absolute;
        top: 35%;
        left: 42%;
        opacity: 0.2;
        pointer-events: none;
        z-index: 1;
    }
    form > textarea {
        resize: none;
        margin-top: 40px;
        width: 100%;
        height: 68%;
        padding: 20px;
        font-size: 16px;
        border: 3px solid #2a2b2a;
    }
    form > div#buttons {
        width: 100%;
        margin-top: 40px;
        position: relative;
    }
        form > div#buttons > input[type="submit"] {
            position: absolute;
            right: 0px;
            display: block;
            width: 300px;
            padding: 10px 20px;
            border-radius: 10px;
            color: #f8f4e3;
            font-size: 18px;
        }
        form > div#buttons > #add {
            background-color: #e5446d;
        }
div#new_container {
    position: relative;
    width: 800px;
    margin: 50px auto;
    padding: 50px 50px 100px 50px;
    background-color: #f8f4e3;
    border: 3px solid #2a2b2a;
    border-radius: 10px;
    box-shadow: -20px 20px #ff8966;
}
    div#new_container > input[type="checkbox"] { 
        margin-top: 50px;
    }
    div#new_container > textarea {
        resize: none;
        margin-top: 10px;
        border: 3px solid #2a2b2a;
        padding: 20px;
        width: 100%;
    }
    div#new_container > input[type="text"] { 
        margin-top: 10px;
        padding: 5px 10px;
        display: block;
        width: 50%;
        background-color: #e5446d;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    div#new_container > h3 {
        margin: 0px 0px 20px 0px;
        text-align: center;
    }
    div#new_container > input[type="checkbox"] {
        transform: scale(1.5);
        accent-color: red;
    }
    div#new_container > button#btn {
        position: absolute;
        right: 50px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff8966;
        border-radius: 10px;
        color: #f8f4e3;
        font-size: 18px;
    }

nav {
    position: fixed;
    width: 150px;
    height: 150px;
    left: 60px;
    bottom: 0px;
    padding: 20px;
    border: 3px solid #2a2b2a;
    background-color: #706c61;
    box-shadow: -20px 20px #e5446d;
    border-bottom: none;
}
    nav > a > img {
        width: 100px;
        display: block;
    }
    
.cookiesContent {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4e3;
    color: #2a2b2a;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    border: 3px solid #2a2b2a;
    border-radius: 10px;
    box-shadow: -20px 20px #e5446d;
    z-index: 3;
}
    img#logo {
        width: 100px;
        margin-bottom: 10px;
    }
    p {
        letter-spacing: 2px;
        font-size: 18px;
        color: red;
        margin-bottom: 20px;
        font-weight: bold;
    }
    button.accept {
        margin-top: 50px;
        background-color: #ff8966;
        color: #f8f4e3;
        padding: 10px 20px;
        border-radius: 10px;
        color: #f8f4e3;
        font-weight: bold;
        letter-spacing: 2px;
    }

#shadow {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2a2b2a;
    opacity: 0.5;
    z-index: 2;
}
