* {
    //outline: 1px dotted pink;
    font-family: 'Open Sans';
    box-sizing: border-box;
    font-size: small;
    margin: 0;
    padding: 0;
}
body {
    margin: 8px;
}
form, section, .output {
    display: inline-block;
    vertical-align: top;
}
form {
    width: 30%;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
    input[type=submit] {
        display: none;
    }
    form textarea {
        width: 98%;
        height: 200px;
        outline: none;
        border: none;
        background-color: whitesmoke;
    }
    .test_cases, .console {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        height: 200px;
        border: 1px solid black;
        overflow-y: auto;
    }
.output {
}
    .output textarea {
        pointer-events: none;
    }
    .output .playback_speed {
    }
        .output .playback_speed span {
            cursor: pointer;
        }
        .output .playback_speed span:hover, .output .playback_speed span.selected {
            color: red;
        }
    .output .progress {
        width: 100%;
        height: 5px;
        background-color: red;
        position: relative;
        cursor: pointer;
    }
        .output .progress span {
            position: absolute;
            left: 0%;
            height: 5px;
            width: 5px;
            background-color: black;
        }
section {
    width: 20%;
    height: 200px;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 8px;
    overflow-y: auto;
}
h3 {
    margin-top: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    border-bottom: 1px dotted black;
    cursor: pointer;
    position: relative;
}
li:hover {
    background: lightyellow;
}
.remove {
    position: absolute;
    right: 0;
    display: none;
}
.danger {
    color: red;
}
.success {
    color: green;
}

.muted {
    color: grey;
}

code {
    margin-left: 2px;
}
