<%- include("../partials/header.ejs") %>
<% const dir = ""%> 
        <h1 class = "save-vid">SAVED VIDEOS</h1>
        <section id = "saved-vids">
            <video controls src = "/vids/test2.mp4"></video>
        </section>
<%- include("../partials/footer.ejs") %>